.weather-api-container {
  text-align: center;
}

.city-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city-not-found img {
  height: 200px;
  width: fit-content;
}

.city-not-found a {
  color: var(--text-color);
}

.spinner {
  border: 0.5rem solid var(--text-color);
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border-color: var(--text-color) var(--bg-color);
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
}