:root {
  --text-color: #070020;
  --bg-color: #f0f0f0;
  --bg-color-opacity: #c9c7c7;
  --bg-color-contrast: #070020;
  --line-color: #c9c7c7;
  --card-bg-color: #eeeeee;
  --button-hover-color: rgb(100, 150, 250);
}

.theme-dark {
  --text-color: #ffffff;
  --bg-color: #070020;
  --bg-color-opacity: #352C5C;
  --bg-color-contrast: #f0f0f0;
  --line-color: #021944;
  --card-bg-color: #03000f;  
  --button-hover-color: rgb(60 , 100, 200);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: var(--text-color);
  font-size: small;
}

.setting-buttons {
  display: flex;
  justify-content: end;
  padding: 1vh;
  background-color: var(--bg-color);
  height: 8vh;
  gap: 10px;
}

.content {
  display: grid;
  grid-template-rows: 50px auto;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-color);
  height: 90vh;
}

.main-content {
  display: flex;
  justify-content: center;
  padding:  20px 0 0 0;
  margin: 0;
  max-width: 1084px;
}

.button {
  background-color: var(--line-color);
  color: var(--text-color);
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  margin: 0 2%;
  height: 5vh;
}

.button:hover {
  box-shadow: 10px 5px 30px var(--line-color);
}
