:root{
  --text-color: #070020;
  --bg-color: #ffffff;
  --line-color: #c9c7c7;
  --card-bg-color: #eeeeee;
}

.theme-dark{
  --text-color: #ffffff;
  --bg-color: #070020;  
  --line-color: #021944;  
  --card-bg-color: #03000f;;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  color: var(--text-color);
  font-size: small;
}

.app-buttons{
  display: flex;
  justify-content: center;
  padding: 1vh;
  background-color: var(--bg-color);
  height: 8vh;
}

.main-content{
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
}

.button{
  background-color: var(--line-color);
  color: var(--text-color);
  border-radius: 1rem;
  border: none;
  cursor: pointer; 
  margin: 0 2%; 
  height: 5vh;
}

.search-button{
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  border: none;
  color:var(--text-color);
  font-weight: bolder;
  border: solid 1px royalblue;
  padding: 0.5% 2%;
  margin: 0 2%;
  cursor: pointer;
}

.button:hover{ 
  box-shadow: 10px 5px 30px var(--line-color);
}

.search-button:hover{
  background-color: royalblue;
}